@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);

  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--white);
  font-size: 16px;
}

header {
  margin: 0.5% 5rem;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  
}
h1 {
  font-size: 3rem;
  cursor: pointer;
}

.main-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 3%;
}
.menu-list {
  display:flex;
  transform: translateX(-23%);
}
hr {
  margin:  0 12.5rem;
}
.menu-list li {
  list-style: none;
  margin: 0 0.8rem;
  cursor: pointer;
}
.menu-list li a {
  text-decoration: none;
}

.menuIcon {
  visibility: hidden;
}

.cart {
  margin-top: 17px;
  margin-right: 42px;
  cursor: pointer;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.responsive {
  display: flex;
  
}





/* Mobiel design */
/* @media screen and (min-width: 375px) {
  header {
    padding: 12px auto;
  }
  nav {
    margin: 0;
    padding: 0 2rem 0 3rem;
  }
  h1 {
    font-size: 1.4rem;
    font-weight: bolder;
  }
  .menu-list {
    display: hidden;
  }
  hr {
    display: none;
  }
  span img {
    display: block;
  }
}
